@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background_aside: #212121;
    --background_main: #181818;
    --background_hover-btn: #383838;
    --background_hover-btn-claro: #686868;

    --color-icons: #FFFFFF;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    background-color: var(--background_main);

    display: grid;

    grid-template-areas: 
    "aside header header header header"
    "aside header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
    overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;
}
body::-webkit-scrollbar {
    background-color: var(--background_aside);
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--background_hover-btn-claro);
    border-radius: 50px;
}


/* comienzo barra lateral/aside */
.aside {
    grid-area: aside;
    background-color: var(--background_aside);

    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;

    position: fixed;
    /* top: -10px; */
    overflow-y: scroll;
    overflow-x: hidden;
    color: #FFFFFF;
}
.aside::-webkit-scrollbar {
    background-color: var(--background_aside);
    width: 1rem;
}

.aside::-webkit-scrollbar-thumb {
    background: var(--background_hover-btn-claro);
    border-radius: 50px;
}

/* logo youtube */
.aside_logo {
    width: 13.7%;
    height: 5rem;
    padding: 0 27px;
    display: flex;

    background-color: var(--background_aside);

    align-items: center;
    gap: 25px;
    position: fixed;
    z-index: 1000;
}

.btn-aside-bar {
    background-color: transparent;
    border: none;
}

.btn-aside-bar i {
    color: #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
}


.aside_logo img {
    width: 9rem;
    cursor: pointer;
}
/* final logo youtube */


/* items de la barra lateral */
.aside_items, 
.aside_items2, 
.aside_subscripciones, 
.aside_mas, 
.aside_config, 
.aside_footer {
    width: 100%;
}

.aside_items {
    margin-top: 70px;
}


.aside a {
    color: #FFFFFF;
    text-decoration: none;
}

hr {
    width: 100%;
    border-color: var(--background_hover-btn);
}

.ul-items, 
.ul-items2, 
.ul-subscripciones,
.ul-mas, 
.config-ul {
    width: 100%;

    font-size: 2rem;
    text-decoration: none;
    list-style: none;

    display: flex;
    flex-direction: column;
}

.ul-items li, 
.ul-items2 li,
.ul-subscripciones li,
.ul-mas li,
.config-ul li {
    width: 100%;
    height: 5rem;
    padding: 0 25px;


    display: flex;

    align-items: center;
    gap: 20px;

    font-size: 1.6rem;
    /* border: 1px solid red; */
}

.aside li:hover {
    background-color: var(--background_hover-btn-claro);
    cursor: pointer;
}

.ul-subscripciones img {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
}
/* fianl items barra lateral */

/* footer barra lateral */
.aside_footer {
    padding: 0 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-p1, .footer-p2 {
    font-size: 1.5rem;
}

.aside h3 {
    font-size: 1.7rem;
    color: var(--background_hover-btn-claro);
    font-weight: 600;
}

.footer-p1 a, .footer-p2 a {
    color: var(--background_hover-btn-claro);
}


/* final barra lateral/aside */


/* comienzo header */
.header {
    height: 120px;
    padding: 0 0 0 230px;
    grid-area: header;
    background-color: var(--background_aside);
}


.header_superior {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* barra de busqueda y botones */
.header_search {
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
}

.header_buscador input {
    width: 50%;
    height: 40px;

    outline: none;
    border: 1px solid var(--background_hover-btn);
    background-color: var(--background_main);

    font-size: 1.5rem;
    color: #FFFFFF;

    transition-duration: .2s;
}

.header_buscador input:focus {
    border: 1px solid #065fd4;
}


.header_buscador .search-btn {
    width: 50px;
    height: 38px;

    outline: none;
    border: none;
    cursor:pointer;
    color: #FFFFFF;
    font-size: 1.4rem;
    background-color: var(--background_hover-btn);
}


.header_buscador {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-voice {
    width: 40px;
    height: 40px;

    border-radius: 50px;
    border: none;
    background-color: var(--background_main);

    margin-left: 10px;


    font-size: 1.8rem;
    color: #FFFFFF;
    cursor: pointer;
}

.header_profile {
    width: 20%;

    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.profile-icon {
    color: #FFFFFF;
    font-size: 2.5rem;
    cursor: pointer;
}
/* final del header SUPERIOR */


/* Comienzo header INFERIOR */
.header_inferior {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.header_inferior button {
    width: 12rem;
    height: 3rem;

    border-radius: 50px;
    border: 1px solid var(--background_hover-btn-claro);
    background-color: var(--background_hover-btn);
    color: #FFFFFF;

    cursor: pointer;

    transition-duration: .2s;
}

.novedades_secciones:hover {
    background-color: var(--background_hover-btn-claro);
}

/* final del header INFERIOR */


/* comienzo main */
.main {
    grid-area: main;
    background-color: var(--background_main);
    margin: 15px;
}

.main_container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 230px;

    display: grid;
    place-content: center;

    grid-template-columns: repeat(4, 360px);
    grid-template-rows: repeat(4,200px);

    gap: 135px 15px;
}

.main_container-marco {
    width: 36rem;
    height: 10rem;
}

.marco-footer {
    width: 100%;
    height: 10rem;

    margin-top: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 20px;

    /* border: 1px solid red; */
}

.marco-footer-text {
    width: 80%;
    height: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.marco-footer-text h3 {
    color: #FFFFFF;
    font-size: 1.8rem;
}

.marco-footer-text p {
    width: 100%;
    font-size: 1.4rem;
    color: var(--background_hover-btn-claro);
    line-height: 1.8rem;
}


.marco-footer-img img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50px;
}

iframe {
    width: 100%;
    height: 20rem;
    margin: 0;
    padding: 0;

    
    transition-duration: .8s;    
}

iframe:hover {
    transform: scale(1.2,1.2);
    transition-delay: .8s;
}


